.loginContainer {
    background: linear-gradient(to right, #2c3e50, #3498db);
    height: 43vw;
    width: 100%;
    margin: 0;
    padding: 0;

    .logoContainer{
        background-color: white;
    }

    .loginButtons{
        width: 100%;
        Button {
            margin-right: 10px;
        }
    }
}
