.loginContainer {
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    height: 43vw;
    width: 100%;
    margin: 0;
    padding: 0;

    .logoContainer{
        background-color: white;
    }

    .loginButtons{
        width: 100%;
        Button {
            margin-right: 10px;
        }
    }
}
