@import '../../../styles/variables.scss';

.scroll-to-top {
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    background-color: $rentButtonColorHover;
    color: white; 
    border: none; 
    cursor: pointer; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 18px;
    z-index: 1000; 
  }
  
  .scroll-to-top:hover {
    background-color: #9a0007;
  }
  