@import "../../../variables.scss";

.filter-category-container {
    display: flex;
    padding: 15px !important;
    width: 100%;
    background-color: $main-color;
    color: #fff;
    border-radius: 4px;
}

