@import "../../../variables.scss";

.filter-category-container {
    display: flex;
    padding: 15px !important;
    width: 100%;
    background-color: $main-color;
    color: #fff;
    border-radius: 4px;

    .search-field {
        margin-top: 5px;
        width: 100%;
        max-width: 200px;
        background-color: white;
        border-radius: 4px;

        .MuiInputLabel-root.Mui-focused,
        .MuiInputLabel-root.MuiFormLabel-filled {
            transform: translate(0px, -22px ) !important;
            color: white !important;

        }

        .MuiInputLabel-root {
            color: black;
        }

        .MuiInputBase-root {
            background-color: white !important;
            color: black;

            &:hover {
                background-color: #d8d2d2 !important;
            }

            &:before,
            &:after {
                display: none;
            }
        }

        .MuiOutlinedInput-root {
            fieldset {
                border-color: white;
            }

            &:hover fieldset {
                border-color: #d8d2d2;
            }

            &.Mui-focused fieldset {
                border-color: white;
            }
        }
    }
}