@import "../../../variables.scss";

.notfound {
    &.container {
        margin-left: 20%;
        margin-right: 20%;
    }

    .error-page {
        background-color: #0e135ae1;
        opacity: 0.8;
        padding: 2vw;
        border-radius: 25px;

    }

    .ffont {
        font-size: 2vw;
    }

    .ffont-btn {
        font-size: 1vw;
    }

    .btn {
        opacity: 1;
        background-color: $main-color;
    }

    .body-color {
        background-color: lightblue;
    }
}