@import "../../../variables.scss";

.movie-filter-container {
    background-color: $main-color;
    color: #fff;
    padding: 20px;
    justify-content: flex-start;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-section {
    display: flex;
    gap: 15px;

    .filterDatepicker {
        margin-top: 5px;
        width: 200px !important;
    }
}

.status-section {
    .filter-section {
        flex-wrap: wrap;
    }

    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {

    .filter-section {
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;

        .filterDatepicker,
        .MuiTextField-root,
        .MuiAutocomplete-root {
            width: calc(100% - 20px);
        }
    }

    .status-section {
        justify-content: center;
        flex-direction: column;
    }
}