.fContainer{

    .filterContainer {
        display: flex;
        flex-direction: column;
      }

      .text{
       margin: 5px;
      }

      .availabilityContainer{
        div{
        }
        margin-top: 3px;
        margin-left: 5px;
      }
      
}
