.rented-movie-card {
  background-color: white !important;
  color: #fff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 405px;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .image-container {
    height: 350px !important;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
      min-width: 100%;
    }
  }

  .card-content {
    padding: 16px;
    flex-grow: 1;
  }

  .card-actions {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    .btnC {
      margin: 0 5px;
    }
  }

  .movieBanner {
    background-color: red;
    padding: 20px;
  }
}