.movie-details-dialog {
  background-color: rgba(0, 0, 0, 0.7);

  .movie-details-title {
    margin: 16px 0;
    text-align: center;
    color: black;
  }

  .movie-details-grid {
    padding: 0 24px 24px;

    .movie-detail-field {
      color: black !important;
      margin-top: 25px !important;
      background-color: white;
      border: 0.5px solid black;
      border-radius: 4px;

    
    }

    .movie-image-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;

      .movie-image-card {
        width: 100%;
        box-shadow: none;
      }
    }
  }

  .movie-details-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .dp.first {
    margin-top: 20px;
  }

  .dp * {
    margin: 7px;
    fill: black !important;
  }
}