.movie-details-dialog {
  background-color: rgba(0, 0, 0, 0.7);

  .MuiDialog-paper {
    background-color: rgb(25, 22, 22);
    color: #fff;
  }

  .movie-details-title {
    margin: 16px 0;
    text-align: center;
    color: white;
  }

  .movie-details-grid {
    padding: 0 24px 24px;

    .movie-detail-field {
      color: white !important;
      margin-top: 25px !important;
      background-color: white;
      border-radius: 4px;

      .MuiOutlinedInput-notchedOutline {
        border-color: transparent;
      }

      .MuiInputLabel-root{
        margin-top:-10px;
        margin-left: -10px;
        color: white;
      }
      
      .MuiInputBase-root {
        color: black !important;
      }

    }

    .movie-image-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 16px;

      .movie-image-card {
        width: 100%;
        box-shadow: none;

        .MuiCardMedia-root {
          border-radius: 4px;
        }
      }
    }
  }

  .movie-details-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .dp.first {
    margin-top: 20px;
  }

  .dp * {
    margin: 7px;
    color: white !important;
    fill: white !important;
  }
}