@import "../../../styles/variables.scss";

.navbar {
    .aBackgro#ffffffick path {
        fill: white;
    }

    a:hover span,
    .spanClick {
        color: white;
    }

    a:hover {
        background-color: $main-color-hover;
        span{
            color: white;
        }

        div > svg{
            path{
                fill: white ;
            }
        }
    }

    .aBackgroundClick {
        background:$main-color;
    }

    .aBackgroundRelease {
        background: white;
    }

    .spanClick {
        color: white;
    }

    .aBackgroundRelease {
        background: white;
    }

}

