@import "../../../variables.scss";
.navbar {
    .aBackgro#ffffffick path {
        fill: white;
    }

    a:hover span,
    .spanClick {
        color: white;
    }

    a:hover {
        background: $main-color;
    }

    .aBackgroundClick {
        background:  $main-color;
    }

    .aBackgroundRelease {
        background: white;
    }

    .spanClick {
        color: white;
    }

    .aBackgroundRelease {
        background: white;
    }

}

