@import "variables.scss";


@media(max-width:768px) {
  .AppIconUnformatted{
    display: none !important;
  }
  
}




.app-container {
  display: flex;
}

.main-text-color {
  color: $main-color;
}

.sidebar {
  flex: 0 0 240px;
  background-color: #f0f0f0;
  padding: 16px;
}

.content {
  flex: 1;
  padding: 16px;
}

.closeModalWindowButton {
  position: relative;
  top: 20px;
  right: -230px;
  width: 20px;
  cursor: pointer;
}

.aBackgroundClick {
  background: $main-color;
}

.aBackgroundRelease {
  background: white;
}

.redButton {
  background-color: $main-color !important;
  color: #ffffff;

  &:hover {
    background-color: $main-color-hover !important;
  }
}


.darkButton {
  background-color: #0e135ae1 !important;
  color: #ffffff;

  &:disabled {
    color: rgb(150, 146, 146) !important;
  }

  &:hover {
    background-color: #0d47a1 !important;
  }
}

.statusUnavailable {
  background-color: $main-color !important;
}


.disabledButton {
  color: black !important;
}

.disabledButtonText {
  color: $main-color;
  font-weight: bold !important;
}

.disabledBanner {
  background-color: $main-color-opacity;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.availableBanner {
  background-color: green;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.availableButtonText {
  color: green;
  font-weight: bold !important;
}

label {
  color: #fff;
  font-size: 0.875rem;
  margin: 0 5px;
}


.search-field {
  margin-top: 5px;
  width: 100%;
  max-width: 200px;
  background-color: white;
  border-radius: 4px;
  color: black;
}