/* App.css */
.app-container {
  display: flex;
}

.sidebar {
  flex: 0 0 240px;
  background-color: #f0f0f0;
  padding: 16px;
}

.content {
  flex: 1;
  padding: 16px;
}

body {
  overflow: hidden;
}

.closeModalWindowButton {
  position: relative;
  top: 20px;
  right: -230px;
  width: 20px;
  cursor: pointer;
}

.contained-button,
.outlined-button {
  margin-top: 10px;
}

.contained-button {
  background-color: #1E1D5B;
  border-radius: 0;
  color: white;
  border: 1px solid #1E1D5B;
}

.contained-button:hover {
  background-color: #E0812E;
  border-color: #E0812E;
}

.outlined-button {
  background-color: white;
  color: #1E1D5B;
  border-color: #1E1D5B;
  border-radius: 0;
}

.outlined-button:hover {
  color: #E0812E;
  border-color: #E0812E;
}

.modal-content {
  margin-top: 9px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.modal-body {
  margin-bottom: 15px;
}

.fields-container {
  margin-bottom: 20px;
}

.field-group {
  margin-bottom: 20px;
}

.field-group input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.globalBg {
  background-color: #BE2517;
}

.notFoundText.text-2xl{
  align-items: center;
}

/* Movies.css */

