@import "variables.scss";


.darkBg {
background: linear-gradient(to right, #232526, #414345) !important;
}

.app-container {
  display: flex;
}

.main-text-color {
  color: $main-color;
}

.sidebar {
  flex: 0 0 240px;
  background-color: #f0f0f0;
  padding: 16px;
}

.content {
  flex: 1;
  padding: 16px;
}

.closeModalWindowButton {
  position: relative;
  top: 20px;
  right: -230px;
  width: 20px;
  cursor: pointer;
}

.aBackgroundClick {
  background: $main-color;
}

.aBackgroundRelease {
  background: white;
}


.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  margin-left: 7px !important;
  margin-right: 7px !important;
}


.redButton {
  background-color: $main-color !important;
  color: #ffffff;

  &:hover {
    background-color: $main-color-hover !important;
  }
}


.darkButton {
  background-color: #0e135ae1 !important;
  color: #ffffff;

  &:disabled {
    color: rgb(150, 146, 146) !important;
  }

  &:hover {
    background-color: #0d47a1 !important;
  }
}

.statusUnavailable {
  background-color: $main-color !important;
}


.disabledButton {
  color: black !important;
}

.disabledButtonText {
  color: $main-color;
  font-weight: bold !important;
}

.disabledBanner {
  background-color: $main-color-opacity;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.availableBanner {
  background-color: green;
  padding: 5px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.availableButtonText {
  color: green;
  font-weight: bold !important;
}

.MuiCheckbox-root {
  color: white !important;
}

.MuiInputLabel-root.Mui-focused,
.MuiInputLabel-root.MuiFormLabel-filled {
  transform: translate(0px, -22px) !important;
  color: white !important;
}


.MuiInputLabel-root {
  color: black !important;
}

.MuiInputBase-root {
  background-color: white !important;
  color: black;

  &:hover {
    background-color: #d8d2d2 !important;
  }

  &:before,
  &:after {
    display: none;
  }
}


.MuiOutlinedInput-root {
  fieldset {
    border-color: white;
  }

  &:hover fieldset {
    border-color: #d8d2d2;
  }

  &.Mui-focused fieldset {
    border-color: white;
  }
}

.MuiFilledInput-root {
  background-color: white !important;

  &:hover {
    background-color: #d8d2d2 !important;
  }

  &:before,
  &:after {
    display: none;
  }
}

.MuiTextField-root,
.MuiAutocomplete-root {
  width: 100%;
  min-width: 200px;
  background-color: white;
  color: black !important;
  border-radius: 4px;
}

.MuiDialog-paper {
  color: #fff;
}

.MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

label {
  color: #fff;
  font-size: 0.875rem;
  margin: 0 5px;
}


.search-field {
  margin-top: 5px;
  width: 100%;
  max-width: 200px;
  background-color: white;
  border-radius: 4px;
  color: black;
}