@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.appIcon {
    margin-left: -20px;
    rect,
    path {
        fill: $main-color;
    }
}

.AppIconUnformatted {
    color: white;
    display: flex;

    rect,
    path {
        fill: $main-color;
    }
}


@media(max-width:768px) {
    .AppIconUnformatted {
        display: none !important;
    }
}