@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.appIcon {
    margin-left: -20px;

    rect,
    path {
        fill: $main-color;
    }
}

.AppIconUnformatted {
    color: white;
    display: flex;

    rect,
    path {
        fill: $main-color;
    }
}


@media(max-width:768px) {
    .AppIconUnformatted {
        display: none !important;
    }
}



.details-button,
.rent-button,
.close-button,
.cancel-button,
.return-button {
    font-size: 1rem;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;

    &.details-button {
        background-color: $detailsButtonColor;
        color: #fff;
        width: 50%;

        &:hover {
            background-color: $detailsButtonColorHover;
        }

        &.details-button-red {
            background-color: $main-color;

            &:hover {
                background-color: $main-color-hover;
            }
        }

        &.db-sm {
            width: 45%;
            height: 30%;
        }
    }



    &.return-button {
        background-color: $detailsButtonColor;
        color: #fff;
        width: 80%;

        &:hover {
            background-color: $detailsButtonColorHover;
        }
    }


    &.close-button {
        background-color: $closeButtonColor;
        color: #fff;
        width: 10%;

        &:hover {
            background-color: $closeButtonColorHover;
        }


    }



    &.cancel-button {
        outline: 1px solid $cancelButtonOutline;
        color: #fff;
        width: 50%;

        &:hover {
            background-color: $cancelButtonHover;
        }
    }

    &.rent-button {
        background-color: $rentButtonColor;
        color: #fff;
        width: 50%;

        &:hover {
            background-color: $rentButtonColorHover;
        }

        &.disabled {
            background-color: gray !important;
            cursor: not-allowed;
            opacity: 0.8;
        }

        &.-sm {
            width: 35%;
            height: 30%;
        }
    }

    &:disabled {
        background-color: gray !important;
        cursor: not-allowed;
        opacity: 0.8;
    }


    &.reset-margin-left {
        margin-left: 0;
    }

    &.reset-width {
        width: auto;
    }

    &.extra-sm {
        width: 10%;
        height: 10%;
    }
}


.bg-main-color {
    background-color: $main-color;

    &:hover {
        background-color: $main-color-hover;
    }
}

.bg-main-color-reverse {
    background-color: $main-color-hover;

    &:hover {
        background-color: $main-color;
    }
}


.bg-main-color-text-white {
    background-color: $main-color;
    color: white;
}

.bg-white-text-black {
    background-color: white;
    color: black;
}

.bg-blue-detail-text-white {
    background-color: $detailsButtonColor;

    &:hover {
        background-color: $detailsButtonColorHover;
    }
}

.bg-blue-detail {
    background-color: $detailsButtonColor;

    &:hover {
        background-color: $detailsButtonColorHover;
    }

    &.tw {
        color: white;
    }
}

.bg-green-detail {
    background-color: $text-green-color;

    &:hover {
        background-color: $text-green-colorHover;
    }

    &.tw {
        color: white;
    }
}

.margin-0p5 {
    margin: 0.5rem !important;
}

.text-main-color {
    color: $main-color !important;
}

.text-main-color-b {
    color: $main-color;
    font-weight: bold !important;
    font-size: 16px !important;
}

.text-green-color {
    color: $text-green-color;
}

.text-details-color {
    color: $detailsButtonColor;

    &:hover {
        color: $detailsButtonColorHover;
    }
}

.modal-text {
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;

    &.bottom-margin {
        margin-bottom: 1rem;
    }
}

.table-th {
    padding: 1rem;
    cursor: pointer;
}

.filter-search-input {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    width: 100%;
    padding: 0.65rem;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    color: rgb(255 255 255 / var(--tw-text-opacity));
    border-width: 1px;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
    border-radius: 0.5rem;
}

.filter-background {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-bg-opacity: 1;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    padding: 1.5rem;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pagination {
    --tw-bg-opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    color: white;
}


.text-available {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity));
    font-weight: bold;

}

.text-unavailable {
    color: $unavailableButtonColor;
    font-weight: bold;
}

.text-details {
    color: $detailsButtonColor;

    &:hover {
        color: $detailsButtonColorHover;
    }
}

.thead-style {
    --tw-bg-opacity: 1;
    color: white;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}