@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container{
    background: linear-gradient(to right,  rgb(0,0,0),rgb(2, 9, 20),#031529,#000);
}