$main-color: #d32f2f;
$main-color-hover: #9a0007;
$navIconColor: #000;
$iconsFill: #000000;

.simpleMainBg {
    background-color: $main-color;
}

.mainBg {
    background-color: $main-color;

    &:hover {
        background-color: $main-color-hover;
    }
}


.appIcon {
    margin-left: -20px;
    rect,
    path {
        fill: $main-color;
    }
}


.categoryManagementIcon,
.logoutIcon,
.roleManagementIcon,
.profileIcon,
.moviesIcon {
    rect,
    path {
    }
}


.MuiButton-root {
    background-color: #d32f2f;
    color: #ffffff;

    &:hover {
      background-color: #9a0007;
    }
  }