$main-color: #226fdd;
$main-color-hover: #4E8CE4;
$navIconColor:#000;

.simpleMainBg {
    background-color: $main-color;
}

.mainBg {
    background-color: $main-color;

    &:hover {
        background-color: $main-color-hover;
    }
}


.appIcon {
    rect,
    path {
        fill: $main-color;
    }
}


.categoryManagementIcon,.logoutIcon,.roleManagementIcon, .profileIcon ,.moviesIcon{
path{
    fill: $navIconColor;
}
}