$main-color: #d32f2f;
$main-color-hover: #9a0007;
$main-color-opacity:rgba(211, 47, 47, 0.856);
$navIconColor: #000;
$iconsFill: #000000;

.simpleMainBg {
    background-color: $main-color;
}

.mainBg {
    background-color: $main-color;

    &:hover {
        background-color: $main-color-hover;
    }
}

.appIcon {
    margin-left: -20px;
    rect,
    path {
        fill: $main-color;
    }
}
