@media(max-width:768px) {
  .AppIconUnformatted {
    display: none !important;
  }

}

.app-container {
  display: flex;
}


.color-white {
  color: white !important;
}


body {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: #333;
  color: black;

  .darkModeWhiteText {
    color: white;
  }

  .darkModeDarkBackground {
    background-color: rgb(69, 68, 68);
  }

  .reverseColors {
    color: white;
    background-color: rgb(69, 68, 68);
  }
}